@import url('https://fonts.googleapis.com/css?family=Lato:400,700');



.apps_icon, .notification_icon {
   width: 25px;
   height: auto;
   opacity: .6;
}

.profile_icon {
   width: 45px;
   height: auto;
   opacity: .6;
   border-radius: 50%;
}

.blue_text {
   color: #4885ed;
}

.red_text {
   color: #db3236;
}

.yellow_text {
   color: #f4c20d;
}

.green_text {
   color: #3cba54;
}

.black_text {
   color: black;
}

body {
   font-family: Lato, sans-serif;
}