@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

#logo {
   margin: 20px;
}

.apps_icon, .notification_icon {
   width: 25px;
   height: auto;
   opacity: .6;
}

.profile_icon {
   width: 45px;
   height: auto;
   opacity: .6;
   border-radius: 50%;
}

.blue_text {
   color: #4885ed;
}

.red_text {
   color: #db3236;
}

.yellow_text {
   color: #f4c20d;
}

.green_text {
   color: #3cba54;
}

.black_text {
   color: black;
}

body {
   font-family: Lato, sans-serif;
}

.search_bar {
   box-shadow: 0 0.1em .3em #E3E0E0;
   width: 600px;
   height: 40px;
   border: solid 1px #E3E0E0;
   background-color: white;
   position: absolute;
   top: 25px;
   left: 150px;
}

.search_bar:hover {
   box-shadow: 0 0.3em .7em #BFBDBD;
}

.search_bar img {
   height: 25px;
   width: auto;
   margin: 7px 10px;
}

.search {
   text-indent: 20px;
   font-size: 20px;
   width: 500px;
   height: 30px;
   border: none;
   float: left;
   margin: 5px 2px;
}

.search:focus {
   outline-color: white;
}

header {
   position: absolute;
   top: 0;
   width: 100%;
   background-color: rgba(0,0,0,.05);
}

main {
   margin-top: 500px;
}